@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600&display=swap');

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 4;
  background: transparent;

  .brand {
    text-transform: uppercase;
    margin-left: 2rem;
    margin-top: 5rem
  }

  .menu-bar {
    width: 5rem;
    height: 0.7rem;
    margin-right: 2rem;
    margin-top: 5rem;
    cursor: pointer;
  }
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;

  .menu-lists {
    list-style: none;
    .menu-items {
      padding: 2rem;

      h2 {
        font-family: 'Cinzel', serif;
        font-weight: 600;
        font-size: 32px;
        cursor: pointer;   
      }

      p {
        font-family: 'Cinzel', serif;
        font-weight: 400;
      }
    }
  }
}

//Animation & tranistion CSS

.open {
  color: white;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

.close {
  color: black;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

.menu-open {
  background: white;
  transition-duration: 0.3s;
}

.menu-close {
  background: black;
  transition-duration: 0.3s;
}

//--------------------------